$card-width: 384px
$card-padding: 37px 40px

.card
  background: $color-dark-grey
  border-radius: 14px
  width: 384px
  display: flex
  flex-direction: column
  align-items: center
  padding: $card-padding
  text-align: center

  // User informations
  > div:first-child
    margin-bottom: 24px

.card-links-container
  display: flex
  flex-direction: column
  gap: 16px
  width: 100%


// Responsive
@media screen and (max-width: 468px)
  .card
    width: calc(100% - 80px - 48px)
    margin-left: 24px
    margin-right: 24px